.divGene{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   justify-content: top;
   align-items: center;
   z-index: 0;
   color: #fff;
}

.divGene h2{
    background-color: rgb(35, 2, 66);
    width: 100%;
    text-align: center;
    
}

.divGene img{
    max-width: 100%;
}

.divGene p{
    padding: 2%;
}

.divGene small{
   display: block;
   margin-bottom: 2%;
}

.divSmall{
    display: flex;
    align-items: flex-start;
    width: 95%;
    
}