.modal{
    width: 100%;
    height: 400vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .container{
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      color: #000;
      width: 90%;
      height: 17.2%;
      border-radius: 10px;
      
   }
  
   .email{
    margin-top: 10px;
   }

   .divModal{
    display: flex;
    width: 100%;
    height: 64vh;
    justify-content: start;
    align-items: center;
    flex-direction: column;
 
   }

   .divModal small{
      display: block;
      color: rgb(62, 62, 66)
   }

   .divModal h1{
    color: rgb(62, 62, 66);
 }

   .divModal img{
    border-radius: 4px;
    width: 90%;
    height: 61%;
 }

 .divModal .divBtn{
      display: flex;
      align-items:center;
      width: 95%;
 }

   .divModal button{
    background-color: blueviolet;
    border: none;
    width: inherit;
    height: 30px;
    color: #fff;
    margin-left: 2.5%;
    margin-top: 2%;
    padding: 5px;
    border-radius: 2px;
 }


   .btn{
      background-color: blueviolet;
      border: none;
      color: #fff;
      border-radius: 2px;
      margin-top: 5%;
      margin-left: 50%;
   }
  
   .imgEmail{
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 11;
   }

  
    .close{
      background-color: transparent;
      border: none;
      outline: none;
      width: 32px;
      height: 32px;
      right: calc(-100% + 64px);
      top: 16px;
      cursor: pointer;
      margin-left: 85%;
      

        
      &:before,
      &:after{
        content: ' ';
        position: absolute;
        width: 2.5px;
        height: 24px;
        background-color: blueviolet;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

    }
  
  
  }
  
  
  